<!DOCTYPE html>
<html>
<head>
</head>

<body>
<div th:fragment="notSignIn">
	<!-- Start Main Body Section -->
	<div class="mainbody-section text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-4">
					<div class="menu-item light-red">
						<p>Register</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="menu-item light-red">
						<p>Sign In</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Main Body Section -->
</div>
</body>
</html>